<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css.index.css" th:href="@{/css/index.css}"/>
<title>ケガケル！</title>
</head>
<body>
	<div id="title_logo">
		<img src=""/>
	</div>
	<form action="" method="GET">
		<table class="add">
			<tr>
				<td>
					<input type="text" class="balloon" id="panel_size_h" /><label for="panel_size_h">パネルの高さ</label>(mm)×
					<input type="text" class="balloon" name="panel_size_w" /><label for="panel_size_h">パネルの幅</label>(mm)</td>
				<td><input type="number" id="panel_count" min="0" step="1" /></td>
			</tr>
			<tr>
				<td><input type="text" class="balloon" name="wood_length" /><label for="wood_length">材の長さ</label>(mm)</td>
				<td><input type="text" class="balloon" name="wood_price" /><label for="wood_price">材の値段</label>(円)
				</td>
			</tr>
		</table>
		<button type="submit" class="balloon" name="action" value="">計算する</button>
	</form>
</body>
</html>